# ============================
# Python (Backend)
# ============================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
.eggs/
*.manifest
*.spec
*.db
*.sqlite3

# Virtual environments
venv/
env/
ENV/
.venv/
# Python venv
venv/


# Python cache & logs
*.log
*.pot
*.pyc
.DS_Store

# ============================
# IDE / Editor
# ============================
.idea/
.vscode/
*.swp
*.swo
*.bak
*.tmp
*.orig

# ============================
# System Files
# ============================
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini

# ============================
# Custom Folders (Optional)
# ============================
video/           # your training dataset (if local)
*.mp4
*.avi
*.mov
*.mkv
*.zip
*.tar
*.gz